<p id="notice"><%= notice %></p>

<p>
  <strong>Period:</strong>
  <%= @grantee.period %>
</p>

<p>
  <strong>Covid interrupt admin:</strong>
  <%= @grantee.covid_interrupt_admin %>
</p>

<p>
  <strong>Covid interrupt service:</strong>
  <%= @grantee.covid_interrupt_service %>
</p>

<p>
  <strong>Total grantee award:</strong>
  <%= @grantee.total_grantee_award %>
</p>

<p>
  <strong>Allocation direct service:</strong>
  <%= @grantee.allocation_direct_service %>
</p>

<p>
  <strong>Allocation training:</strong>
  <%= @grantee.allocation_training %>
</p>

<p>
  <strong>Allocation evaluation:</strong>
  <%= @grantee.allocation_evaluation %>
</p>

<p>
  <strong>Allocation administrative:</strong>
  <%= @grantee.allocation_administrative %>
</p>

<p>
  <strong>Staffing overseeing:</strong>
  <%= @grantee.staffing_overseeing %>
</p>

<p>
  <strong>Staffing covid vacancies ever:</strong>
  <%= @grantee.staffing_covid_vacancies_ever %>
</p>

<p>
  <strong>Staffing covid vacancies filled:</strong>
  <%= @grantee.staffing_covid_vacancies_filled %>
</p>

<p>
  <strong>Staffing fte overseeing:</strong>
  <%= @grantee.staffing_fte_overseeing %>
</p>

<p>
  <strong>Staffing fte covid vacancies ever:</strong>
  <%= @grantee.staffing_fte_covid_vacancies_ever %>
</p>

<p>
  <strong>Staffing fte covid vacancies filled:</strong>
  <%= @grantee.staffing_fte_covid_vacancies_filled %>
</p>

<p>
  <strong>Observed delivery:</strong>
  <%= @grantee.observed_delivery %>
</p>

<p>
  <strong>Conducted training:</strong>
  <%= @grantee.conducted_training %>
</p>

<p>
  <strong>Provided tta:</strong>
  <%= @grantee.provided_tta %>
</p>

<p>
  <strong>Observers grantee:</strong>
  <%= @grantee.observers_grantee %>
</p>

<p>
  <strong>Observers developer:</strong>
  <%= @grantee.observers_developer %>
</p>

<p>
  <strong>Observers tta partner:</strong>
  <%= @grantee.observers_tta_partner %>
</p>

<p>
  <strong>Observers eval partner:</strong>
  <%= @grantee.observers_eval_partner %>
</p>

<p>
  <strong>Observers prog provider:</strong>
  <%= @grantee.observers_prog_provider %>
</p>

<p>
  <strong>Facil trainers grantee:</strong>
  <%= @grantee.facil_trainers_grantee %>
</p>

<p>
  <strong>Facil trainers developer:</strong>
  <%= @grantee.facil_trainers_developer %>
</p>

<p>
  <strong>Facil trainers tta partner:</strong>
  <%= @grantee.facil_trainers_tta_partner %>
</p>

<p>
  <strong>Facil trainers eval partner:</strong>
  <%= @grantee.facil_trainers_eval_partner %>
</p>

<p>
  <strong>Facil trainers prog provider:</strong>
  <%= @grantee.facil_trainers_prog_provider %>
</p>

<p>
  <strong>Tta providers grantee:</strong>
  <%= @grantee.tta_providers_grantee %>
</p>

<p>
  <strong>Tta providers developer:</strong>
  <%= @grantee.tta_providers_developer %>
</p>

<p>
  <strong>Tta providers tta partner:</strong>
  <%= @grantee.tta_providers_tta_partner %>
</p>

<p>
  <strong>Tta providers eval partner:</strong>
  <%= @grantee.tta_providers_eval_partner %>
</p>

<p>
  <strong>Tta providers prog provider:</strong>
  <%= @grantee.tta_providers_prog_provider %>
</p>

<%= link_to 'Edit', edit_grantee_path(@grantee) %> |
<%= link_to 'Back', grantees_path %>
