<%= form_with(model: entry_survey) do |form| %>
  <% if entry_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry_survey.errors.count, "error") %> prohibited this entry_survey from being saved:</h2>

      <ul>
        <% entry_survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lang_other %>
    <%= form.check_box :lang_other %>
  </div>

  <div class="field">
    <%= form.label :lang_other_txt %>
    <%= form.text_field :lang_other_txt %>
  </div>

  <div class="field">
    <%= form.label :race_other %>
    <%= form.check_box :race_other %>
  </div>

  <div class="field">
    <%= form.label :race_other_txt %>
    <%= form.text_field :race_other_txt %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
