<p id="notice"><%= notice %></p>

<p>
  <strong>Magic:</strong>
  <%= @exit_survey.magic %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @exit_survey.contractor %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @exit_survey.cohort %>
</p>

<p>
  <strong>Curriculum:</strong>
  <%= @exit_survey.curriculum %>
</p>

<p>
  <strong>H age:</strong>
  <%= @exit_survey.h_age %>
</p>

<p>
  <strong>H grade:</strong>
  <%= @exit_survey.h_grade %>
</p>

<p>
  <strong>M age:</strong>
  <%= @exit_survey.m_age %>
</p>

<p>
  <strong>M grade:</strong>
  <%= @exit_survey.m_grade %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @exit_survey.lang %>
</p>

<p>
  <strong>Lang other txt:</strong>
  <%= @exit_survey.lang_other_txt %>
</p>

<p>
  <strong>Is hispanic:</strong>
  <%= @exit_survey.is_hispanic %>
</p>

<p>
  <strong>Race:</strong>
  <%= @exit_survey.race %>
</p>

<p>
  <strong>Race other txt:</strong>
  <%= @exit_survey.race_other_txt %>
</p>

<p>
  <strong>Is male:</strong>
  <%= @exit_survey.is_male %>
</p>

<p>
  <strong>Domestic:</strong>
  <%= @exit_survey.domestic %>
</p>

<p>
  <strong>Impact behavior peer:</strong>
  <%= @exit_survey.impact_behavior_peer %>
</p>

<p>
  <strong>Impact behavior emotion:</strong>
  <%= @exit_survey.impact_behavior_emotion %>
</p>

<p>
  <strong>Impact behavior alcohol:</strong>
  <%= @exit_survey.impact_behavior_alcohol %>
</p>

<p>
  <strong>Impact behavior think:</strong>
  <%= @exit_survey.impact_behavior_think %>
</p>

<p>
  <strong>Impact intent plans:</strong>
  <%= @exit_survey.impact_intent_plans %>
</p>

<p>
  <strong>Impact intent study:</strong>
  <%= @exit_survey.impact_intent_study %>
</p>

<p>
  <strong>Impact intent graduate:</strong>
  <%= @exit_survey.impact_intent_graduate %>
</p>

<p>
  <strong>Impact intent more study:</strong>
  <%= @exit_survey.impact_intent_more_study %>
</p>

<p>
  <strong>Impact intent work:</strong>
  <%= @exit_survey.impact_intent_work %>
</p>

<p>
  <strong>Impact finance save:</strong>
  <%= @exit_survey.impact_finance_save %>
</p>

<p>
  <strong>Impact finance bank:</strong>
  <%= @exit_survey.impact_finance_bank %>
</p>

<p>
  <strong>Impact finance budget:</strong>
  <%= @exit_survey.impact_finance_budget %>
</p>

<p>
  <strong>Impact finance track:</strong>
  <%= @exit_survey.impact_finance_track %>
</p>

<p>
  <strong>Impact finance cost:</strong>
  <%= @exit_survey.impact_finance_cost %>
</p>

<p>
  <strong>Impact talk parent:</strong>
  <%= @exit_survey.impact_talk_parent %>
</p>

<p>
  <strong>Impact talk other:</strong>
  <%= @exit_survey.impact_talk_other %>
</p>

<p>
  <strong>Impact relate healthy:</strong>
  <%= @exit_survey.impact_relate_healthy %>
</p>

<p>
  <strong>Impact relate resist:</strong>
  <%= @exit_survey.impact_relate_resist %>
</p>

<p>
  <strong>Impact relate talk:</strong>
  <%= @exit_survey.impact_relate_talk %>
</p>

<p>
  <strong>Plan abstainsex:</strong>
  <%= @exit_survey.plan_abstainsex %>
</p>

<p>
  <strong>Abstain yes plans:</strong>
  <%= @exit_survey.abstain_yes_plans %>
</p>

<p>
  <strong>Abstain yes consequences:</strong>
  <%= @exit_survey.abstain_yes_consequences %>
</p>

<p>
  <strong>Abstain yes sti:</strong>
  <%= @exit_survey.abstain_yes_sti %>
</p>

<p>
  <strong>Abstain yes preg:</strong>
  <%= @exit_survey.abstain_yes_preg %>
</p>

<p>
  <strong>Abstain notyes havesex:</strong>
  <%= @exit_survey.abstain_notyes_havesex %>
</p>

<p>
  <strong>Abstain notyes condom:</strong>
  <%= @exit_survey.abstain_notyes_condom %>
</p>

<p>
  <strong>Abstain notyes contra:</strong>
  <%= @exit_survey.abstain_notyes_contra %>
</p>

<p>
  <strong>Percep clear:</strong>
  <%= @exit_survey.percep_clear %>
</p>

<p>
  <strong>Percep learn:</strong>
  <%= @exit_survey.percep_learn %>
</p>

<p>
  <strong>Percep ask:</strong>
  <%= @exit_survey.percep_ask %>
</p>

<p>
  <strong>Percep respect:</strong>
  <%= @exit_survey.percep_respect %>
</p>

<p>
  <strong>Satisfaction abstain:</strong>
  <%= @exit_survey.satisfaction_abstain %>
</p>

<p>
  <strong>Satisfaction contra:</strong>
  <%= @exit_survey.satisfaction_contra %>
</p>

<%= link_to 'Edit', edit_exit_survey_path(@exit_survey) %> |
<%= link_to 'Back', exit_surveys_path %>
