<p id="notice"><%= notice %></p>

<p>
  <strong>Cohort:</strong>
  <%= @coho_down.cohort_id %>
</p>

<p>
  <strong>Total graduated ms:</strong>
  <%= @coho_down.total_graduated_ms %>
</p>

<p>
  <strong>Total graduated hs:</strong>
  <%= @coho_down.total_graduated_hs %>
</p>

<p>
  <strong>Total initiated ms:</strong>
  <%= @coho_down.total_initiated_ms %>
</p>

<p>
  <strong>Total initiated hs:</strong>
  <%= @coho_down.total_initiated_hs %>
</p>

<p>
  <strong>Total hours delivered:</strong>
  <%= @coho_down.total_hours_delivered %>
</p>

<p>
  <strong>Program complete:</strong>
  <%= @coho_down.program_complete %>
</p>

<p>
  <strong>Census foster:</strong>
  <%= @coho_down.census_foster %>
</p>

<p>
  <strong>Census homeless:</strong>
  <%= @coho_down.census_homeless %>
</p>

<p>
  <strong>Census pregnant parenting:</strong>
  <%= @coho_down.census_pregnant_parenting %>
</p>

<p>
  <strong>Census adjudication:</strong>
  <%= @coho_down.census_adjudication %>
</p>

<p>
  <strong>Main setting:</strong>
  <%= @coho_down.main_setting %>
</p>

<p>
  <strong>Covid virtualization:</strong>
  <%= @coho_down.covid_virtualization %>
</p>

<%= link_to 'Edit', edit_coho_down_path(@coho_down) %> |
<%= link_to 'Back', coho_downs_path %>
